<section class="cart-view">
  <section class="cart">
    <section>
      <button matButton>
        <mat-icon class="header-icons">arrow_back_ios</mat-icon>Continue Shopping
      </button>
    </section>

    <hr />

    <h2>Shpping cart</h2>
    <p>You have 3 items in your cart</p>

    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image src="/cookiejpg.jpg" alt="Photo of a Shiba Inu" />
      <mat-card-header class="article-name">
        <mat-card-title>Cookie Funky</mat-card-title>
        <p class="toping">Vanilla</p>
      </mat-card-header>
      <mat-card-content>
        <p>Qte : 2</p>
      </mat-card-content>
      <mat-card-content>
        <p>6€</p>
      </mat-card-content>
      <mat-card-actions>
        <button matButton>
          <mat-icon class="header-icons">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image src="/cookiejpg.jpg" alt="Photo of a Shiba Inu" />
      <mat-card-header class="article-name">
        <mat-card-title>Cookie Blabla</mat-card-title>
        <p class="toping">- -</p>
      </mat-card-header>
      <mat-card-content>
        <p>Qte : 1</p>
      </mat-card-content>
      <mat-card-content>
        <p>2€</p>
      </mat-card-content>
      <mat-card-actions>
        <button matButton>
          <mat-icon class="header-icons">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </section>

  <!--  -->
  <section class="payment-form">
    <h2>Card Details</h2>

    <h3>Name</h3>
    <h3>email</h3>
    <h3>address</h3>
    <h3>city</h3>
    <h3>state</h3>
    <h3>zip</h3>
    <h3>country</h3>
  </section>
</section>
