:host {
  display: flex;
  justify-content: center;
}

.cart-view {
  display: flex;
  justify-content: center;
  gap: 5vw;

  width: 90%;
}

hr {
  width: 100%;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: start;
  width: 90%;
}

.example-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  max-height: 300px;
  border-style: none;
  box-shadow: 0 0 8px #d9d9d9;
}

.example-card > img {
  margin: 3%;
  width: 128px;
  height: 128px;
}

.example-card p {
  margin: 0;
}

.article-name {
  display: flex;
  flex-direction: column;
  min-width: 15%;
}

.payment-form {
  background-color: rgb(86 90 187);
  border-radius: 20px;
}

.payment-form h2,
.payment-form h3 {
  color: hsl(0deg 0% 99.22%);
}
