.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--magenta-600);
  min-height: 7vh;
  color: var(--magenta-50);
  display: flex;
  justify-content: center;
  align-items: center;
}
