<mat-toolbar class="header-toolbar">
  <a class="header-logo" href="">Cookies & Co</a>
  <span class="example-spacer"></span>
  <button
    matIconButton
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon class="header-icons">favorite</mat-icon>
  </button>
  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon class="header-icons">shopping_bag</mat-icon>
  </button>
  <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon class="header-icons">menu</mat-icon>
  </button>
</mat-toolbar>
<!-- nom                  coeur | chariot | menu burger -->
